.DayPicker {
  width: 100%;
}

.DayPicker-Months {
  border: 1px solid rgba(126, 150, 255, 0.2);
}

.DayPicker-Weekdays {
  display: block;
}

.DayPicker-WeekdaysRow {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.DayPicker-Week {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.DayPicker-Day {
  height: 135px;
  padding: 10px 10px;
  border: solid #f2f3f5;
  border-width: 1px 0 0;
  vertical-align: top;
  box-sizing: border-box;
  text-align: right;
}

.DayPicker-Day + .DayPicker-Day {
  border-left-width: 1px;
}
